---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Page not found">
  <header class="flex justify-between mb-52 relative">
    <a href="/" class="flex flex-col sm:gap-4 gap-1">
      <span class="font-head sm:text-5xl text-[7vw]">My Site</span>
      <span class="font-head sm:text-3xl text-[4vw]">A recurring event</span>
    </a>
    <h1 class="flex flex-col sm:gap-4 gap-1 text-right">
      <span class="font-head sm:text-5xl text-[7vw]">404</span>
      <span class="font-head sm:text-3xl text-[4vw]">Page not found</span>
    </h1>
  </header>
  <div class="max-w-xl mx-auto px-4 flex flex-col gap-6">
    <p class="font-head text-2xl sm:text-3xl">We couldn't find this page.</p>
    <a
      href="/"
      class="text-lg underline underline-offset-4 hover:no-underline transition-all"
    >
      Back to home
    </a>
  </div>
</Layout>
